*{
	padding: 0;
	margin: 0;
}

#game{
	width: 400px;
	height: 500px;
	border: 10px solid black;
	margin: auto;
	overflow: hidden;
	background-color: skyblue;

}

#block{
	width: 50px;
	height: 500px;
	background-image: linear-gradient(to left, rgb(232, 79, 79), rgb(248, 112, 112),red);
	border: 1px solid black;
	position: relative;
	left: 400px;
	animation: block 4s infinite linear;
}

@keyframes block{
	0%{left:600px}
	100%{left:-50px}
}

#hole{
	width: 52px;
	height: 150px;
	background-color: skyblue;
	position: relative;
	left: 400px;
	top: -500px;
	animation: block 4s infinite linear;
}

#character{
	width: 200px;
	height: 200px;
	position: absolute;
	top: 50 px;
	
}
